@{
    ViewBag.Title = "PriceNew";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
@Styles.Render("~/Content/Web_Theme/assets/css/themes/Price.css")


<div class="container" style="padding-top:100px;">
    <div class="row-fluid">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 price-table-wrap pull-left">

            <!--Prising table-->
            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12 no-pad">
                <div class="price-table iprice-no-right-border" style="background-color:#fff;">
                    <div class="price-figure">
                        100% Free
                        <div class="price-semi-circle"></div>
                    </div>
                    <div class="price-plan"><div class="price-plan-title" style="color:#e9811a;">Doctors Profile</div><span style="color:#8C99A9; font-weight:700;">PER MONTH</span></div>
                    <ul style="list-style-type:none; margin-left:0px; margin-top:0px; margin-bottom:0px;">
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">Increase Visibility</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; ">Attract more Patients</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">1 Time a Year</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; ">Manage your Account</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">Accessible 24/7</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; ">Free</li>
                        <li><a href="#"><div class="learn-more">Read More</div></a></li>
                    </ul>
                </div>
            </div>

            <!--Prising table-->
            <!--Prising table-->

            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12 no-pad">
                <div class="price-table price-table-big" style="background-color:#fff;">
                    <div class="price-figure"><i class="icon-rupee"></i>&nbsp;999<div class="price-semi-circle-premium"></div></div>
                    <div class="price-plan"><div class="price-plan-title" style="color:#e9811a;">Online Appointment</div><span style="color:#8C99A9; font-weight:700;">PER MONTH</span></div>
                    <ul style="list-style-type:none; margin-left:0px;">
                        <li style="color:black; font-size:15px; font-family:'PT Sans'; background-color:#F7F7F7;">Increase Visibility</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Attract more Patients</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">1 Time a Year</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Manage your Account</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">Accessible 24/7</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Free</li>
                        <li><a href="#"><div class="learn-more">Read More</div></a></li>
                    </ul>
                </div>
            </div>

            <!--Prising table-->
            <!--Prising table-->

            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12 no-pad">
                <div class="price-table iprice-no-right-border" style="background-color:#fff;">
                    <div class="price-figure"><i class="icon-rupee"></i>&nbsp;999<div class="price-semi-circle"></div></div>
                    <div class="price-plan"><div class="price-plan-title" style="color:#e9811a;">Edox Connect</div><span style="color:#8C99A9; font-weight:700;">PER MONTH</span></div>
                    <ul style="list-style-type:none; margin-left:0px;">
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">Increase Visibility</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Attract more Patients</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">1 Time a Year</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Manage your Account</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">Accessible 24/7</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Free</li>
                        <li><a href="#"><div class="learn-more">Read More</div></a></li>
                    </ul>
                </div>
            </div>

            <!--Prising table-->
            <!--Prising table-->

            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12 no-pad">
                <div class="price-table" style="background-color:#fff;">
                    <div class="price-figure"><i class="icon-rupee"></i>&nbsp;999<div class="price-semi-circle"></div></div>
                    <div class="price-plan"><div class="price-plan-title" style="color:#e9811a;">Integrated</div><span style="color:#8C99A9; font-weight:700;">PER MONTH</span></div>
                    <ul style="list-style-type:none; margin-left:0px;">
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">Increase Visibility</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Attract more Patients</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">1 Time a Year</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Manage your Account</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans; background-color:#F7F7F7;">Accessible 24/7</li>
                        <li style="color:black; font-size:15px; font-family:PT Sans;">Free</li>
                        <li><a href="#"><div class="learn-more">Read More</div></a></li>
                    </ul>
                </div>
            </div>
            <!--Prising table-->
        </div>
    </div>
</div>



