USE [master]
GO
/****** Object:  Database [MCMD]    Script Date: 7/5/2015 7:30:22 PM ******/
CREATE DATABASE [MCMD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MCMD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MCMD.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MCMD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MCMD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MCMD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MCMD]
GO
/****** Object:  StoredProcedure [dbo].[GetViewDoctor]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GetViewDoctor]
(	
     @LoginId      INT=0,	
	 @SpecialityID  INT=0, 
	 @RoleId		INT=0,
	 @EmployeeId    INT=0,
	 @FirstName		varchar(100)='',
     @LastName		varchar(100)='',
     @EmailID		varchar(100)='',
     @UserPhone		NVARCHAR(100)='',
	 @ClinicInfoId	INT=0
	
)

AS
BEGIN 


Select  L.LoginId,      	
		L.FirstName,
		L.LastName,
		S.SpecialityName,
		L.EmailID,	
		L.UserPhone,
		R.RoleName,
		C.ClinicName,
		M.MembershipType
	from dbo.[Login] L
		INNER JOIN dbo.[Login_Role] LR WITH (NOLOCK)
				ON L.LoginId=LR.LoginId
				AND L.InactiveFlag='N'
		INNER JOIN dbo.[MCMDRoles] R WITH (NOLOCK)
				ON R.RoleId=LR.RoleId
		INNER JOIN dbo.[Login_Speciality] LS With (NOLOCK)
				ON LS.LoginId=L.LoginId
		INNER JOIN dbo.[Speciality] S With (NOLOCk)
				ON S.SpecialityID=LS.SpecialityID
		LEFT OUTER JOIN dbo.[DoctorClinicInformation] C  With (NOLOCk)
				ON C.LoginId=L.LoginId
		LEFT OUTER JOIN dbo.[UpgradeService] U With (NOLOCk)
				ON U.LoginId = L.LoginId
		LEFT OUTER JOIN dbo.[Membership] M  With (NOLOCk)
				ON M.MembershipId = U.MembershipId
 		WHERE (R.RoleId = @RoleId OR  @RoleId=0 )
			AND (L.LoginId= @EmployeeId  OR  @EmployeeId =0)
			AND (L.LoginId= @LoginId OR  @LoginId=0)
			AND (S.SpecialityID=@SpecialityID OR @SpecialityID=0 )			
			AND (L.FirstName= @FirstName OR @FirstName='')
			AND (L.LastName=@LastName OR @LastName='')
			AND (L.EmailID=@EmailID OR @EmailID='')
			AND (L.UserPhone=@UserPhone OR @UserPhone='')			
			AND (C.ClinicInfoId= @ClinicInfoId OR  @ClinicInfoId=0)



END

 --EXEC GetViewDoctor @RoleId=4 ,@EmployeeId=1016,@FirstName='gauri',@LastName='rakshe',@EmailID='gauri@gmail.com',@UserPhone='9656895856' 
--EXEC GetViewDoctor @LoginId=0,@SpecialityID=0,@RoleId=0,@EmployeeId=0 ,@FirstName='',@LastName='',@EmailID='',@UserPhone='',@ClinicInfoId=0

GO
/****** Object:  StoredProcedure [dbo].[GetViewPatient]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetViewPatient]
(
     @PatientId  INT,
	 @FirstName  Varchar(50),
     @LastName Varchar(50),
     @EmailID Varchar(50), 
	 @UserPhone varchar(50)
)
AS
BEGIN 
select  P.PatientId,
        P.FirstName,
		P.LastName,
		P.EmailID,
		P.UserPhone

		from Patient P
		where (P.PatientId= @PatientId OR @PatientId=0)
		AND (P.FirstName= @FirstName   OR @FirstName='')
		AND (P.LastName=  @LastName   OR @LastName='')
		AND (P.EmailID= @EmailID   OR @EmailID='')
		AND (P.UserPhone= @UserPhone   OR @UserPhone='')
END
--EXEC GetViewPatient @PatientId=1,@FirstName='chaitali',@LastName='Doke',@EmailID='chaitali@g.com',@UserPhone='9689854585'
--EXEC GetViewPatient @PatientId=0,@FirstName='',@LastName='Doke',@EmailID='',@UserPhone=''
GO
/****** Object:  StoredProcedure [dbo].[GetViewUsers]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetViewUsers]
(	
	 @RoleId		INT=0,
	 @EmployeeId    INT=0,
	 @FirstName		varchar(100)='',
     @LastName		varchar(100)='',
     @EmailID		varchar(100)='',
     @UserPhone		NVARCHAR(100)=''
)

AS
BEGIN 


Select  L.LoginId,      
		L.FirstName,
		L.LastName,
		L.EmailID,
		L.EmployeeId,
		L.UserPhone,
		R.RoleName
	from dbo.[Login] L
		INNER JOIN dbo.[Login_Role] LR WITH (NOLOCK)
				ON L.LoginId=LR.LoginId
				AND L.InactiveFlag='N'
		INNER JOIN dbo.[MCMDRoles] R WITH (NOLOCK)
				ON R.RoleId=LR.RoleId
		WHERE (R.RoleId = @RoleId OR  @RoleId=0 )
			AND (L.EmployeeId= @EmployeeId OR  @EmployeeId=0)
			AND (L.FirstName= @FirstName OR @FirstName='')
			AND (L.LastName=@LastName OR @LastName='')
			AND (L.EmailID=@EmailID OR @EmailID='')
			AND (L.UserPhone=@UserPhone OR @UserPhone='')


END

 --EXEC GetViewUsers @RoleId=2 ,@EmployeeId=1006,@FirstName='sneha',@LastName='adya',@EmailID='sneha@g.com',@UserPhone='968958789' 

 --EXEC GetViewUsers @RoleId=4 ,@EmployeeId=0,@FirstName='sneha',@LastName='',@EmailID='',@UserPhone='' 
GO
/****** Object:  Table [dbo].[AppointmentDiary]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentDiary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[SomeImportantKey] [int] NOT NULL,
	[DateTimeScheduled] [datetime] NOT NULL,
	[AppointmentLength] [int] NOT NULL,
	[StatusENUM] [int] NOT NULL,
 CONSTRAINT [PK_ConsultantBookings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AutoRenaval]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoRenaval](
	[AutoRenavalId] [int] IDENTITY(1,1) NOT NULL,
	[Renaval] [nvarchar](50) NULL,
 CONSTRAINT [PK_AutoRenaval] PRIMARY KEY CLUSTERED 
(
	[AutoRenavalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NULL,
	[StateId] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicTime]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicTime](
	[ClinicTimeId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[Day] [nvarchar](50) NULL,
	[FirstSetting] [nvarchar](50) NULL,
	[IsWorkingDay] [bit] NULL,
	[StartTime] [time](7) NULL,
	[StartSlot] [nvarchar](50) NULL,
	[EndTime] [time](7) NULL,
	[EndSlot] [nvarchar](50) NULL,
	[CreatedById] [int] NULL,
	[CreatedOnDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[ModifiedOnDate] [datetime] NULL,
 CONSTRAINT [PK_ClinicTime] PRIMARY KEY CLUSTERED 
(
	[ClinicTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorClinicInformation]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DoctorClinicInformation](
	[ClinicInfoId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[ClinicName] [nvarchar](50) NULL,
	[ClinicAddress] [nvarchar](max) NULL,
	[ClinicPhoneNo] [nvarchar](50) NULL,
	[ClinicFees] [int] NULL,
	[Country] [int] NULL,
	[State] [int] NULL,
	[City] [int] NULL,
	[ZipCode] [int] NULL,
	[ClinicServices] [nvarchar](max) NULL,
	[AwardsAndRecognization] [nvarchar](max) NULL,
	[AboutClinic] [nvarchar](max) NULL,
	[InactiveFlag] [char](1) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedByID] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[FolderFilePath] [nvarchar](max) NULL,
	[UploadType] [nvarchar](50) NULL,
 CONSTRAINT [PK_ClinicInformation] PRIMARY KEY CLUSTERED 
(
	[ClinicInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DoctorPersonalInformation]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DoctorPersonalInformation](
	[PersonalInfoId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Qualification] [nvarchar](100) NULL,
	[Qualification1] [nvarchar](500) NULL,
	[RegistrationNo] [nvarchar](250) NULL,
	[Affiliation] [nvarchar](max) NULL,
	[AboutMe] [nvarchar](max) NULL,
	[AboutExperience] [nvarchar](50) NULL,
	[InactiveFlag] [char](1) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedByID] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[FolderFilePath] [varchar](max) NULL,
	[UploadType] [varchar](50) NULL,
 CONSTRAINT [PK_DoctorPersonalInformation] PRIMARY KEY CLUSTERED 
(
	[PersonalInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Duration]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duration](
	[DurationId] [int] IDENTITY(1,1) NOT NULL,
	[Durations] [nvarchar](50) NULL,
 CONSTRAINT [PK_Duration] PRIMARY KEY CLUSTERED 
(
	[DurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Help]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Help](
	[HelpId] [int] IDENTITY(1,1) NOT NULL,
	[docId] [int] NULL,
	[DocName] [nvarchar](50) NULL,
	[Subject] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Help] PRIMARY KEY CLUSTERED 
(
	[HelpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](30) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[EmailID] [varchar](50) NOT NULL,
	[EmployeeId] [int] NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NOT NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[IslockedOut] [bit] NULL,
	[LastLockoutDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[LastLogOutDate] [datetime] NULL,
	[IPAddress] [varchar](20) NULL,
	[LastPasswordChangedDate] [datetime] NULL,
	[PasswordVerificationToken] [nvarchar](max) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
	[FailedPasswordAttemptCount] [int] NULL,
	[UserPhone] [nvarchar](20) NULL,
	[InactiveFlag] [char](1) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedByID] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Login_LoginId] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Login_Role]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Role](
	[LoginRoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[LoginId] [int] NULL,
 CONSTRAINT [PK_Login_Role] PRIMARY KEY CLUSTERED 
(
	[LoginRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login_Speciality]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Speciality](
	[LoginSpecialityId] [int] IDENTITY(1,1) NOT NULL,
	[SpecialityID] [int] NULL,
	[LoginId] [int] NULL,
 CONSTRAINT [PK_Login_Speciality] PRIMARY KEY CLUSTERED 
(
	[LoginSpecialityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MCMDRoles]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCMDRoles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RoleName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.MCMDRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Media]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Media](
	[MediaId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[FolderFilePath] [varchar](max) NULL,
	[UploadType] [varchar](20) NULL,
	[InactiveFlag] [char](1) NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedByID] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[MediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Membership](
	[MembershipId] [int] IDENTITY(1,1) NOT NULL,
	[MembershipType] [nvarchar](50) NULL,
	[Fees] [int] NULL,
	[CheckedStatus] [bit] NULL,
	[InactiveFlag] [char](1) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Membership] PRIMARY KEY CLUSTERED 
(
	[MembershipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[EmailID] [varchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[PasswordSalt] [nvarchar](max) NULL,
	[IslockedOut] [bit] NULL,
	[LastLockoutDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[LastLogOutDate] [datetime] NULL,
	[IPAddress] [varchar](20) NULL,
	[LastPasswordChangedDate] [datetime] NULL,
	[PasswordVerificationToken] [nvarchar](max) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
	[FailedPasswordAttemptCount] [int] NULL,
	[UserPhone] [nvarchar](20) NULL,
	[InactiveFlag] [char](1) NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedByID] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SchedulingDiary]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchedulingDiary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[DateTimeScheduled] [datetime] NULL,
	[DateTimeScheduledEnd] [datetime] NULL,
	[StatusENUM] [int] NULL,
	[StartTime] [time](7) NULL,
	[StartSlot] [nvarchar](10) NULL,
	[EndTime] [time](7) NULL,
	[EndSlot] [nvarchar](10) NULL,
 CONSTRAINT [PK_SchedulingDiary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Speciality](
	[SpecialityID] [int] IDENTITY(1,1) NOT NULL,
	[SpecialityName] [nvarchar](50) NULL,
	[InactiveFlag] [char](1) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[SpecialityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](max) NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Title]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[TitleId] [int] IDENTITY(1,1) NOT NULL,
	[TitleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[TitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UpgradeService]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UpgradeService](
	[UpgradeServiceId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[MembershipId] [int] NULL,
	[Durations] [int] NULL,
	[AutoRenaval] [int] NULL,
	[CheckedStatus] [bit] NULL,
	[CreatedById] [int] NULL,
	[InactiveFlag] [char](1) NULL,
	[CreatedOnDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[ModifiedOnDate] [datetime] NULL,
 CONSTRAINT [PK_UpgradeService_1] PRIMARY KEY CLUSTERED 
(
	[UpgradeServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UpgradeServiceLog]    Script Date: 7/5/2015 7:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UpgradeServiceLog](
	[UpgradeServLogId] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[MembershipId] [int] NULL,
	[Durations] [int] NULL,
	[AutoRenaval] [int] NULL,
	[CheckedStatus] [bit] NULL,
	[CreatedById] [int] NULL,
	[InactiveFlag] [char](1) NULL,
	[CreatedOnDate] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[ModifiedOnDate] [datetime] NULL,
 CONSTRAINT [PK_UpgradeServiceLog] PRIMARY KEY CLUSTERED 
(
	[UpgradeServLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentDiary] ON 

GO
INSERT [dbo].[AppointmentDiary] ([ID], [Title], [SomeImportantKey], [DateTimeScheduled], [AppointmentLength], [StatusENUM]) VALUES (1, N'sonali', 0, CAST(0x0000A4B600A4CB80 AS DateTime), 25, 0)
GO
INSERT [dbo].[AppointmentDiary] ([ID], [Title], [SomeImportantKey], [DateTimeScheduled], [AppointmentLength], [StatusENUM]) VALUES (2, N'Neha', 0, CAST(0x0000A4C300000000 AS DateTime), 30, 0)
GO
INSERT [dbo].[AppointmentDiary] ([ID], [Title], [SomeImportantKey], [DateTimeScheduled], [AppointmentLength], [StatusENUM]) VALUES (3, N'Madhura', 0, CAST(0x0000A4C200000000 AS DateTime), 30, 0)
GO
SET IDENTITY_INSERT [dbo].[AppointmentDiary] OFF
GO
SET IDENTITY_INSERT [dbo].[AutoRenaval] ON 

GO
INSERT [dbo].[AutoRenaval] ([AutoRenavalId], [Renaval]) VALUES (1, N'Yes')
GO
INSERT [dbo].[AutoRenaval] ([AutoRenavalId], [Renaval]) VALUES (2, N'No')
GO
SET IDENTITY_INSERT [dbo].[AutoRenaval] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

GO
INSERT [dbo].[City] ([CityId], [CityName], [StateId]) VALUES (1, N'Nicobar', 1)
GO
INSERT [dbo].[City] ([CityId], [CityName], [StateId]) VALUES (2, N'North and Middle Andaman', 1)
GO
INSERT [dbo].[City] ([CityId], [CityName], [StateId]) VALUES (3, N'South Andaman', 1)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[ClinicTime] ON 

GO
INSERT [dbo].[ClinicTime] ([ClinicTimeId], [LoginId], [Day], [FirstSetting], [IsWorkingDay], [StartTime], [StartSlot], [EndTime], [EndSlot], [CreatedById], [CreatedOnDate], [ModifiedById], [ModifiedOnDate]) VALUES (1, 2, N'Monday', N'1st seating Timing', 1, CAST(0x0700A8E76F4B0000 AS Time), N'AM', CAST(0x070068C461080000 AS Time), N'PM', 1, CAST(0x0000A4C400C4CA2A AS DateTime), 1, CAST(0x0000A4C400C4CA2A AS DateTime))
GO
INSERT [dbo].[ClinicTime] ([ClinicTimeId], [LoginId], [Day], [FirstSetting], [IsWorkingDay], [StartTime], [StartSlot], [EndTime], [EndSlot], [CreatedById], [CreatedOnDate], [ModifiedById], [ModifiedOnDate]) VALUES (2, 2, N'Tuesday', N'1st seating Timing', 1, CAST(0x0700A8E76F4B0000 AS Time), N'AM', CAST(0x070068C461080000 AS Time), N'PM', 1, CAST(0x0000A4C400C4CA34 AS DateTime), 1, CAST(0x0000A4C400C4CA34 AS DateTime))
GO
INSERT [dbo].[ClinicTime] ([ClinicTimeId], [LoginId], [Day], [FirstSetting], [IsWorkingDay], [StartTime], [StartSlot], [EndTime], [EndSlot], [CreatedById], [CreatedOnDate], [ModifiedById], [ModifiedOnDate]) VALUES (3, 2, N'Wednesday', N'1st seating Timing', 1, CAST(0x0700A8E76F4B0000 AS Time), N'AM', CAST(0x070068C461080000 AS Time), N'PM', 1, CAST(0x0000A4C400C4CA39 AS DateTime), 1, CAST(0x0000A4C400C4CA39 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ClinicTime] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

GO
INSERT [dbo].[Country] ([CountryId], [CountryName]) VALUES (1, N'India')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorClinicInformation] ON 

GO
SET IDENTITY_INSERT [dbo].[DoctorClinicInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorPersonalInformation] ON 

GO
SET IDENTITY_INSERT [dbo].[DoctorPersonalInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[Duration] ON 

GO
INSERT [dbo].[Duration] ([DurationId], [Durations]) VALUES (1, N'Monthly')
GO
INSERT [dbo].[Duration] ([DurationId], [Durations]) VALUES (2, N'Quarterly')
GO
INSERT [dbo].[Duration] ([DurationId], [Durations]) VALUES (3, N'Half yearly')
GO
SET IDENTITY_INSERT [dbo].[Duration] OFF
GO
SET IDENTITY_INSERT [dbo].[Help] ON 

GO
INSERT [dbo].[Help] ([HelpId], [docId], [DocName], [Subject], [Description]) VALUES (1, 17, N'gauri rakshe', N'test', N'xyzfgdfgdfgdfgdffgdgdgdgggdgdgdgdgdgdgdffgfgf')
GO
SET IDENTITY_INSERT [dbo].[Help] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

GO
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[Login_Role] ON 

GO
INSERT [dbo].[Login_Role] ([LoginRoleId], [RoleId], [LoginId]) VALUES (1, 1, 1)
GO
INSERT [dbo].[Login_Role] ([LoginRoleId], [RoleId], [LoginId]) VALUES (2, 4, 2)
GO
INSERT [dbo].[Login_Role] ([LoginRoleId], [RoleId], [LoginId]) VALUES (3, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[Login_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Login_Speciality] ON 

GO
INSERT [dbo].[Login_Speciality] ([LoginSpecialityId], [SpecialityID], [LoginId]) VALUES (1, 11, 2)
GO
INSERT [dbo].[Login_Speciality] ([LoginSpecialityId], [SpecialityID], [LoginId]) VALUES (2, 50, 5)
GO
SET IDENTITY_INSERT [dbo].[Login_Speciality] OFF
GO
SET IDENTITY_INSERT [dbo].[MCMDRoles] ON 

GO
INSERT [dbo].[MCMDRoles] ([RoleId], [Description], [RoleName]) VALUES (1, N'Complete Access', N'SuperAdmin')
GO
INSERT [dbo].[MCMDRoles] ([RoleId], [Description], [RoleName]) VALUES (2, N'Logical Delete Access', N'Admin')
GO
INSERT [dbo].[MCMDRoles] ([RoleId], [Description], [RoleName]) VALUES (3, N'NULLUser Level Access', N'COE')
GO
SET IDENTITY_INSERT [dbo].[MCMDRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Media] ON 

GO
INSERT [dbo].[Media] ([MediaId], [LoginId], [FolderFilePath], [UploadType], [InactiveFlag], [CreatedByID], [CreatedDate], [ModifiedByID], [ModifiedDate]) VALUES (1, 2, N'~/Media/img1.jpg', N'image/jpeg', N'N', 1, CAST(0x0000A4CA010A52CB AS DateTime), 1, CAST(0x0000A4CA010A52CB AS DateTime))
GO
INSERT [dbo].[Media] ([MediaId], [LoginId], [FolderFilePath], [UploadType], [InactiveFlag], [CreatedByID], [CreatedDate], [ModifiedByID], [ModifiedDate]) VALUES (2, 2, N'~/Media/img2.jpg', N'image/jpeg', N'N', 1, CAST(0x0000A4CA010A5855 AS DateTime), 1, CAST(0x0000A4CA010A5855 AS DateTime))
GO
INSERT [dbo].[Media] ([MediaId], [LoginId], [FolderFilePath], [UploadType], [InactiveFlag], [CreatedByID], [CreatedDate], [ModifiedByID], [ModifiedDate]) VALUES (3, 2, N'~/Media/img3.jpg', N'image/jpeg', N'N', 1, CAST(0x0000A4CA010A5D64 AS DateTime), 1, CAST(0x0000A4CA010A5D64 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Media] OFF
GO
SET IDENTITY_INSERT [dbo].[Membership] ON 

GO
INSERT [dbo].[Membership] ([MembershipId], [MembershipType], [Fees], [CheckedStatus], [InactiveFlag], [ModifiedDate]) VALUES (1, N'Directory Listing', 0, 0, N'N', CAST(0x0000A4B700C1E546 AS DateTime))
GO
INSERT [dbo].[Membership] ([MembershipId], [MembershipType], [Fees], [CheckedStatus], [InactiveFlag], [ModifiedDate]) VALUES (2, N'Online Appointment Scheduling', 1000, 0, N'N', CAST(0x0000A4B700C1FBD6 AS DateTime))
GO
INSERT [dbo].[Membership] ([MembershipId], [MembershipType], [Fees], [CheckedStatus], [InactiveFlag], [ModifiedDate]) VALUES (3, N'Medical Answering Service', 1000, 0, N'N', CAST(0x0000A4B700C20BE6 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Membership] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

GO
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[SchedulingDiary] ON 

GO
INSERT [dbo].[SchedulingDiary] ([ID], [Title], [DateTimeScheduled], [DateTimeScheduledEnd], [StatusENUM], [StartTime], [StartSlot], [EndTime], [EndSlot]) VALUES (1, N'Sunday', CAST(0x0000A4BE00A4CB80 AS DateTime), NULL, 0, CAST(0x0700E03495640000 AS Time), N'PM', CAST(0x070068C461080000 AS Time), N'PM')
GO
INSERT [dbo].[SchedulingDiary] ([ID], [Title], [DateTimeScheduled], [DateTimeScheduledEnd], [StatusENUM], [StartTime], [StartSlot], [EndTime], [EndSlot]) VALUES (2, N'Monday', CAST(0x0000A4BF00A4CB80 AS DateTime), CAST(0x0000A4C100AD08E0 AS DateTime), 0, CAST(0x0700E03495640000 AS Time), N'PM', CAST(0x070068C461080000 AS Time), N'PM')
GO
INSERT [dbo].[SchedulingDiary] ([ID], [Title], [DateTimeScheduled], [DateTimeScheduledEnd], [StatusENUM], [StartTime], [StartSlot], [EndTime], [EndSlot]) VALUES (3, N'Tuesday', CAST(0x0000A4C000A4CB80 AS DateTime), CAST(0x0000A4C100AD08E0 AS DateTime), 0, CAST(0x0700E03495640000 AS Time), N'PM', CAST(0x070068C461080000 AS Time), N'PM')
GO
SET IDENTITY_INSERT [dbo].[SchedulingDiary] OFF
GO
SET IDENTITY_INSERT [dbo].[Speciality] ON 

GO
INSERT [dbo].[Speciality] ([SpecialityID], [SpecialityName], [InactiveFlag], [ModifiedDate]) VALUES (1, N'Accupressur', N'N', CAST(0x0000A4B100DDF56A AS DateTime))
GO
INSERT [dbo].[Speciality] ([SpecialityID], [SpecialityName], [InactiveFlag], [ModifiedDate]) VALUES (2, N'Acute and Chronic Diseases', N'N', CAST(0x0000A4AB00AFF2B8 AS DateTime))
GO
INSERT [dbo].[Speciality] ([SpecialityID], [SpecialityName], [InactiveFlag], [ModifiedDate]) VALUES (3, N'AIDS/HIV Infectious Diseases', N'N', CAST(0x0000A4A100000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Speciality] OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON 

GO
INSERT [dbo].[State] ([StateId], [StateName], [CountryId]) VALUES (1, N'Andaman and Nicobar Island', 1)
GO
INSERT [dbo].[State] ([StateId], [StateName], [CountryId]) VALUES (2, N'Andhra Pradesh', 1)
GO
INSERT [dbo].[State] ([StateId], [StateName], [CountryId]) VALUES (3, N'Arunachal Pradesh', 1)
GO
SET IDENTITY_INSERT [dbo].[State] OFF
GO
SET IDENTITY_INSERT [dbo].[Title] ON 

GO
INSERT [dbo].[Title] ([TitleId], [TitleName]) VALUES (1, N'Dr')
GO
SET IDENTITY_INSERT [dbo].[Title] OFF
GO
SET IDENTITY_INSERT [dbo].[UpgradeService] ON 

GO
INSERT [dbo].[UpgradeService] ([UpgradeServiceId], [LoginId], [MembershipId], [Durations], [AutoRenaval], [CheckedStatus], [CreatedById], [InactiveFlag], [CreatedOnDate], [ModifiedById], [ModifiedOnDate]) VALUES (1, 2, 2, 4, 1, 1, 1, N'N', CAST(0x0000A4B200A83DB0 AS DateTime), 1, CAST(0x0000A4B200A83DB0 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UpgradeService] OFF
GO
SET IDENTITY_INSERT [dbo].[UpgradeServiceLog] ON 

GO
INSERT [dbo].[UpgradeServiceLog] ([UpgradeServLogId], [LoginId], [MembershipId], [Durations], [AutoRenaval], [CheckedStatus], [CreatedById], [InactiveFlag], [CreatedOnDate], [ModifiedById], [ModifiedOnDate]) VALUES (1, 2, 2, 4, 1, 1, 1, N'N', CAST(0x0000A4B200A83DB8 AS DateTime), 1, CAST(0x0000A4B200A83DB8 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UpgradeServiceLog] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/5/2015 7:30:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[MCMDRoles]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppointmentDiary] ADD  CONSTRAINT [DF_ConsultantBookings_Status]  DEFAULT ((0)) FOR [StatusENUM]
GO
USE [master]
GO
