@{
    ViewBag.Title = "Scheduling";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}
    <!-------for calender-------->
@Styles.Render("~/Content/template_content/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css")
@Styles.Render("~/Content/template_content/assets/plugins/fullcalendar/fullcalendar/fullcalendar.print.css")

<script>
    $(document).ready(function () {

        var sourceFullView = { url: '/Scheduling/GetDiaryEvents/' };
        var sourceSummaryView = { url: '/Scheduling/GetDiarySummary/' };
        var CalLoading = true;

        $('#calendar').fullCalendar({

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaDay',
            editable: true,
            allDaySlot: false,
            selectable: true,
            slotMinutes: 15,
            events: '/Scheduling/GetDiaryEvents/',


            eventClick: function (calEvent, jsEvent, view) {
                alert('You clicked on event id: ' + calEvent.id
                    + "\nSpecial ID: " + calEvent.someKey
                    + "\nAnd the title is: " + calEvent.title);
                ShowEventPopupClose(calEvent, jsEvent, view);

            },


            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                if (confirm("Confirm move?")) {
                    UpdateEvent(event.id, event.start);
                }
                else {
                    revertFunc();
                }
            },

            eventResize: function (event, dayDelta, minuteDelta, revertFunc) {
                if (confirm("Confirm change appointment length?")) {
                    UpdateEvent(event.id, event.start, event.end);
                }
                else {
                    revertFunc();
                }
            },

            dayClick: function (date, allDay, jsEvent, view) {
                $('#eventTitle').val("");
                $('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                var today = new Date();
                $('#CurrentDate').val($.fullCalendar.formatDate(today, 'dd/MM/yyyy'));
                ShowEventPopup(date, today);
            },

            //eventRender: function (event, element) {
            //    element.html(event.title + " <a class='boxclose'></a>");
            //},

            viewRender: function (view, element) {
                if (!CalLoading) {
                    if (view.name == 'month') {
                        alert("render month view");
                        $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                        alert("end month view");
                    }
                    else {
                        alert("render view not month");
                        $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', sourceFullView);
                    }
                }
            }

        });

        CalLoading = false;

        $('#btnInit').click(function () {
            $.ajax({
                type: 'POST',
                url: "/Scheduling/Init",
                success: function (response) {
                    if (response == 'True') {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('Database populated! ');
                    }
                    else {
                        alert('Error, could not populate database!');
                    }
                }
            });
        });

        $('#btnPopupCancel').click(function () {
            ClearPopupFormValues();
            $('#popupEventForm').hide();
        });

        $('#btnPopupCancel1').click(function () {
            $('#popupEventFormClose').hide();
        });


        $('#btnPopupSave').click(function () {
            $('#popupEventForm').hide();

            var dataRow = {
                'Title': $('#eventTitle').val(),
                'NewEventDate': $('#eventDate').val(),
                'NewEventTime': $('#eventTime').val(),
                'NewEventDuration': $('#eventDuration').val(),
                'NeweventStartTime': $('#eventStart').val(),
                'NeweventEndTime': $('#eventEnd').val(),
                'NewCurrentDate': $('#CurrentDate').val()
            }

            ClearPopupFormValues();

            $.ajax({
                type: 'POST',
                url: "/Scheduling/SaveEvent",
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        $('#calendar').fullCalendar('refetchEvents');

                        alert('New event saved!');
                    }
                    else {
                        alert('Error, could not save event!');
                    }
                }
            });
        });

        $('#btnPopupDelete').click(function () {
            $('#popupEventFormClose').hide();
            alert('y want to delete');

            var dataRow = {
                'NewDeleteEventId': $('#eventID1').val(),
              
            }

            $.ajax({
                type: 'POST',
                url: "/Scheduling/DeleteEvent",
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        $('#calendar').fullCalendar('refetchEvents');

                        alert('Delete the Event!');
                    }
                    else {
                        alert('Error, could not Delete event!');
                    }
                }
            });
        });


        //    var x = 1; //initlal text box count
        //    $('.add_field_button').click(function (e) { //on add input button click
        //        var max_fields = 5; //maximum input boxes allowed 10;
        //        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        //        e.preventDefault();
        //        if (x < max_fields) { //max input box allowed
        //            x++; //text box increment
        //            $('.input_fields_wrap').append('<div> <div class=" input-append bootstrap-timepicker-component"> <input type="text" value="" class="m-wrap span9 timepicker-default" placeholder="Start Time" id="event_title3" /><span class="add-on"><i class="icon-time"></i></span> </div> <div class=" input-append bootstrap-timepicker-component"> <input type="text" value="" class="m-wrap span9 timepicker-default " placeholder="End Time" id="event_title4" /> <span class="add-on"><i class="icon-time"></i></span> </div> <a href="#" class="remove_field">Remove</a></div> '); //add input box

        //        }
        //    });

        //    $('.input_fields_wrap').on("click", ".remove_field", function (e) { //user click on remove text
        //        e.preventDefault(); $(this).parent('div').remove(); x--;
        //    })


    });

    function ShowEventPopup(date, today) {

        ClearPopupFormValues();
        $('#popupEventForm').show();
        $('#eventTitle').focus();
    }

    function ShowEventPopupClose(calEvent, jsEvent, view) {

        $('#eventID1').val(calEvent.id);
        $('#popupEventFormClose').show();

    }



    function ClearPopupFormValues() {
        $('#eventID').val("");
        $('#eventTitle').val("");
        $('#eventDateTime').val("");
        $('#eventDuration').val("");
        $('#eventStart').val("");
        $('#eventEnd').val("");
    }

    function UpdateEvent(EventID, EventStart, EventEnd) {

        var dataRow = {
            'ID': EventID,
            'NewEventStart': EventStart,
            'NewEventEnd': EventEnd
        }

        $.ajax({
            type: 'POST',
            url: "/Scheduling/UpdateEvent",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataRow)
        });
    }


</script>


<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">

            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">My Profile</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Clinic Information</a>
                    <span class="icon-angle-right"></span>
                </li>
            </ul>
        </div>

    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>Calendar</div>
            </div>
            <div class="portlet-body light-grey">
                <div class="row-fluid">
                    <div class="span10">
                        <div id='calendar'></div>
                    </div>

                    <div id="popupEventForm" class="modal hide" style="display: none;">
                        <div class="modal-header"><h3>Set Scheduling</h3></div>                     
                        <div class="modal-body">
                            <form id="EventForm" class="well">
                                <input type="hidden" id="eventID">
                                <label>Event title</label>
                                <input type="text" id="eventTitle" placeholder="Title here"><br />
                                <label>Scheduled date</label>
                                <input type="text" id="eventDate" disabled><br />
                                <label>Scheduled time</label>
                                <input type="text" id="eventTime"><br />
                                <label>Appointment length (minutes)</label>
                                <input type="text" id="eventDuration" placeholder="15"><br />
                                <label>Today's Date</label>
                                <input type="text" id="CurrentDate" disabled>                             
                                <br />
                                <div class=" input-append bootstrap-timepicker-component">
                                    <input type="text" value="" class="m-wrap span9 timepicker-default" placeholder="Start Time" id="eventStart" />
                                    <span class="add-on"><i class="icon-time"></i></span>
                                </div>
                                <div class=" input-append bootstrap-timepicker-component">
                                    <input type="text" value="" class="m-wrap span9 timepicker-default " placeholder="End Time" id="eventEnd" />
                                    <span class="add-on"><i class="icon-time"></i></span>
                                </div>
                                @*<div class="input_fields_wrap" style="display:initial;">
                                        <button class="add_field_button btn green">Add More+</button>
                                    </div>*@
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                            <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Save event</button>
                        </div>
                    </div>

                    <div id="popupEventFormClose" class="modal hide" style="display: none;">
                        <div class="modal-header"><h3>Delete the set timing</h3></div>
                        <div class="modal-body">
                            <input type="text" id="eventID1" disabled>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnPopupCancel1" data-dismiss="modal" class="btn">Cancel</button>
                            <button type="button" id="btnPopupDelete" data-dismiss="modal" class="btn btn-primary">delete</button>
                        </div>
                    </div>

                    @*<div class="span2 responsive" data-tablet="span12 fix-margin" data-desktop="span8">
                            <!-- BEGIN DRAGGABLE EVENTS PORTLET-->
                            <h3 class="event-form-title">Set Appointment Slots</h3>
                            <div id="external-events">
                                <form class="inline-form">
                                    <div class=" input-append bootstrap-timepicker-component">
                                        <input type="text" value="" class="m-wrap span9 timepicker-default" placeholder="Start Time" id="event_title1" />
                                        <span class="add-on"><i class="icon-time"></i></span>
                                    </div>
                                    <div class=" input-append bootstrap-timepicker-component">
                                        <input type="text" value="" class="m-wrap span9 timepicker-default " placeholder="End Time" id="event_title2" />
                                        <span class="add-on"><i class="icon-time"></i></span>
                                    </div>
                                    <br />
                                    <a href="javascript:;" id="event_add" class="btn green">Add Time</a>
                                </form>
                                <hr />
                                <div id="event_box"></div>
                                <label for="drop-remove">
                                    <input type="checkbox" id="drop-remove" />remove after drop
                                </label>
                                <br />
                                <span class="label label-important">NOTE!</span><span>
                                 Drag the added time to the desired day
                                </span>
                                <hr class="visible-phone" />
                            </div>
                            <!-- END DRAGGABLE EVENTS PORTLET-->
                        </div>*@
                    @*<div class="span10">
                            <div id="calendar" class="has-toolbar"></div>
                        </div>*@
                </div>
                <!-- END CALENDAR PORTLET-->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
@Scripts.Render("~/bundles/jqueryval")